@import "fonts"; // import custom fonts

/**
 * Set default variables.
 */
$black: #000;

$grey: #424242;
$dark-grey: #212121;
$light-grey: #616161;

$red: #b00020;

$white: #fff;

* {
  outline: 0;
}

.blog {
  font: 300 1rem/1 "Roboto Slab", serif;

  /* Header */
  &__head {
    align-items: flex-end;
    display: flex;
    height: 100vh;
    width: 100%;

    &__wrap {
      padding: 1rem;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      margin: 0;
    }

    &__subtitle {
      font-family: "Roboto", sans-serif;
      line-height: 1.5;
      margin: 0;
    }
  }

  /* Navigation */
  &__nav {
    background: $black;
    padding: 0 0.5rem;
    text-align: right;

    &__list {
      // display: none;
      font-family: "Roboto", sans-serif;
      margin: 0;
    }

    &__toggler {
      background: $grey;
      border: 0.0625rem solid $dark-grey;
      border-radius: 0.25rem;
      box-shadow: 0 -0.125rem 0 $dark-grey inset;
      color: $white;
      cursor: pointer;
      font-size: 1.5rem;
      height: 2.25rem;
      margin: 0.5rem auto;
      padding: 0 0 0.125rem 0;
      width: 2.25rem;

      &:active, &:focus, &:hover {
        background: $light-grey;
      }

      &:active {
        box-shadow: 0 0.125rem 0 $dark-grey inset;
        padding: 0.125rem 0 0 0;
      }
    }
  }

  /* Footer */
  &__foot {
    background: $grey;
    color: $white;
    padding: 1rem;

    &__link {
      color: $dark-grey;
      text-decoration: none;
    }

    &__credits {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      line-height: 1.5;
      margin: 0 auto;
      text-align: center;
    }
  }
}

/**
 * Set chainable BEM modifiers (cfr. https://webuild.envato.com/blog/chainable-bem-modifiers/).
 */
.-text-small {
  font-size: 0.75rem;
}

.-text-uppercase {
  text-transform: uppercase;
}

.-color-red {
  color: $red;
}
